<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/model.css">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= model.principal_name %></h1>
			<% if (model.aliases != null) { %>
                <p>Also known as: <%= model.aliases %></p>
            <% } else { %>
                <p>No Aliases<p>
            <% } %>
            <h2><%= model.comment %></h2>
            <hr>
            <div class="parent">
                <div class="child child__left">
                    <div class="model__detail__image">
                        <img src="<%= model.FA_url %>" alt="<%= model.principal_name %>">
                    </div>
                    <div class="model__detail__image">
                        <img src="<%= model.BR_url %>" alt="<%= model.principal_name %>">
                    </div>
                    <div class="model__detail__image">
                        <img src="<%= model.PF_url %>" alt="<%= model.principal_name %>">
                    </div>
                    <div class="model__detail__image">
                        <img src="<%= model.PR_url %>" alt="<%= model.principal_name %>">
                    </div>
                    <div class="model__detail__image">
                        <img src="<%= model.AR_url %>" alt="<%= model.principal_name %>">
                    </div>
                </div>
                <div class="child child__right">
                    <div class="model__detail__image">
                        <img src="<%= model.RF_url %>" alt="<%= model.thumbnail %>">
                    </div>
                </div>
   
        </main>
        <%- include('../includes/end.ejs') %>