<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/forms.css">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>

		<main>
			<div class="container">
				<h1 class="text-center text-primary mt-3 mb-3">Start of model addition</h1>

				<div class="card">
					<div class="card__header">Nationality</div>
					<div class="card__content">
							<select name="nationality" id="nationality" class="form-control">
								<option value="">Select Nationality</option>
								<% for(var count = 0; count < natn_list.length; count++) { %>

									<option value="<%= natn_list[count].l2_desc %>"><%= natn_list[count].l2_desc %></option>
								<% } %>
							</select>
					</div>
				</div>
			</div>
		</main>
            <%- include('../includes/end.ejs') %>